extends layout

append styles
    link(rel="stylesheet", href="stylesheets/loader.css")

append scripts
    script(src="javascripts/index.js")

append content
    .alert.alert-info.alert-dismissible(role='alert')
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
        strong Avertissement
        |  Cette interface est destinée aux tests en cours de développement : aucune disponibilité ni qualité de service n'est garantie.
    .panel.panel-default
        .panel-heading
            h3.panel-title Qu'est-ce que c'est ?
        .panel-body
            | Laelaps est un modèle (réseau de neurones) permettant de convertir une référence bibliographique exprimée en texte libre vers un format structuré. &nbsp;
            a(href="about") En savoir plus
    form
        label(for="reference") Copier coller une référence bibliographique (titre en français)
        .row.row-no-gutters
            .col-md-10
                textarea(cols=3, id="reference", class="form-control")
            .col-md-2
                .btn-group
                    button(type="submit" id="parse-button" class="btn btn-default btn-lg")
                        span(class="glyphicon glyphicon-ok", aria-hidden="true")
                        div(class="loader" id="parse-preload")
                            span
                            span
                            span
                    button(type="button" id="clear-button" class="btn btn-default btn-lg")
                        span(class="glyphicon glyphicon-remove", aria-hidden="true")
    div(id="result-container")